section.welcome {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  &::before {
    content: "";
    background: url("../images/backgroundPhone.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.158), rgb(255, 0, 0));
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
  }
  h1 {
    font-size: 1.7rem;
    color: white;
    font-weight: 600;
  }
  p {
    color: white;
    opacity: 0.5;
  }
}
.logo2 {
  width: 80%;
  // animation: logo 1s forwards ease-in-out;
  // margin-top: 5rem;
}
path#a {
  // animation: logo 2s forwards;
  margin-top: 2rem;
  border: solid red 1px;
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg) scale(1.1);
    margin-top: 2rem;
  }
}
